/* CSS variables */
:root {
  --font-size-heading: 36px;
  --font-size-body: 18px;
  --font-family: Arial, sans-serif;
  --background-color: #f0f0f0;
  --highlight-color: #007bff;
}

/* CSS classes and IDs */
body {
  font-family: var(--font-family);
  background-color: var(--background-color); /* Corrected variable name */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  max-width: 1500px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.input-field {
  margin-bottom: 10px; /* Add margin to create spacing */
}

.highlight-color-picker {
  margin-top: 10px; /* Add margin to create spacing */
}

.title {
  font-size: var(--font-size-heading);
  color: #333;
  margin-bottom: 20px;
}

.font-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.font-selector,
.font-size-selector,
.text-format-selector,
.highlight-color-picker {
  flex: 1;
  margin: 10px;
}

select,
textarea {
  width: 100%;
  font-size: 16px;
}

#displayText {
  font-size: var(--font-size-body);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #ccc; /* Add a subtle border to the display text area */
  padding: 10px; /* Add some padding for better appearance */
  
}

#copyButton {
  background-color: var(--highlight-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Add a smooth transform animation on hover */
}

#copyButton:hover {
  background-color: #0056b3;
  transform: scale(1.1); /* Scale up the button slightly on hover */
}

.footer {
  text-align: center;
  padding: 11px;
  position: relative;
  margin: 8px;
  border-radius: 5px;
  background-color: #D3D3D3;
  color: #fff;
  flex: 0 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a drop shadow to the footer */
}

/* Advanced CSS */
/* styles for the Zalgo Complexity container */

#zalgoComplexityContainer {
    margin-top: 10px;
    display: none;
}

#zalgoComplexityContainer label {
    margin-right: 5px;
}


/* Add a subtle gradient to the background color of the container */
.container {
  background: linear-gradient(90deg, #ffffff 0%, #f6f6f6 100%);
}

/* Add a box shadow to the input fields */
.input-field {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Add a media query to adjust the layout for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .font-controls {
    flex-direction: column;
  }
}
